html {
    font-family: "didot";
}


h2 {
    font-size: 100px;
    margin: 0;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: .9;
}

.rotate {
    transform: rotate(180deg);
}

div {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: max-content max-content;
}

body {
    margin: 0px;
    background-color: #594545;
    color: #FFF8EA;
    padding: 0px;
}

header{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.rules1{
    height:fit-content;
    background-color: #FFF8EA;
    display: flex;
    padding: 18px;
    flex-direction: row;
    gap: 100px;
}

.classes{
    display: flex;
    width: 300px;
    /* background-color:#9E7676 ; */
    border-radius: 20px;
    padding: 10px;
    color: #594545 ;
    font-size: 18px;
    flex-direction: column;
    gap: 2px;
    height: fit-content;
    flex: 1;
    text-align: center;
}

h3{
    align-self: center;
    font-size: 30px;
}

.fun-card{
    background-color: #594545;
    color: #FFF8EA;
    align-self: center;
    display: flex;
    border-radius: 18px;
    padding: 24px;
    height: 200px;
}

.img1{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}